/*Common Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Poppins:wght@100&display=swap');
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:'Poppins';
    margin:0;
}

h1{font-size:3.5em;}
h2{font-size:2.7em;}
h3{font-size:2em;}
p{font-size: 1.25em;}
ul{list-style:none}
li{font-size:1.25em}
button{
    font-family: Poppins;
    font-size:1.5em;
    font-weight:bold;
    padding:10px 30px;
    border-radius:10px;
    border:2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}
button:hover{
    background-color: rgb(101,33,165);
}
.container{
    max-width: 1400px;
    margin:auto;
}

/*Header Section*/
header{
    background-color: rgb(245,245,245);
}
header .logo{
    margin: 0;
    padding: 0px 0px;
    height: 45%;
    width: 45%;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 30px;
    text-decoration: none;
    font-weight: bold;
    color:black;
    font-size: 20px;
}

header a:hover{
    color:blueviolet;
}
/*Section hero*/
#hero {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction:column;
    height: 90vh;
    color:white;
    background-image: linear-gradient(
            0deg,rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color:white;
}
#hero h2{
    color:white;
    font-size: 2.5vw;
    text-align: center;
    justify-content: center;
}
#hero .gato{
    flex-direction: column;
    height: 20vh;
    width: 30vh;
    padding: 0px 10px;
}
#hero .hombre{
    flex-direction: column;
    height: 20vh;
    width: 30vh;
    padding: 0px 10px;
}
#hero .balcon{
    flex-direction: column;
    height: 20vh;
    width: 30vh;
    padding: 0px 10px;
}
/*Section requisitos para postular*/
#requisitos{
    background-color: rgb(30,30,30);
    color:white;
    text-align: center;
    font-family: Lato;
}
requisitos .container{
padding: 150px 12px;
}

#requisitos h2{
    margin-top:0;
    font-size:3.2em;
}

#requisitos p{
    display: none;
}
#requisitos .carta{
    background-position: center center;
    background-size: cover;
    padding:   50px;
    margin: 20px;
    border-radius: 15px;
}
.carta:first-child{
    background-image: linear-gradient(
    0deg,
    rgb(0,0,0,0.5),
    rgb(0,0,0,0.5)
    );
}
.carta:nth-child(2){
    background-image: linear-gradient(
            0deg,
            rgb(0,0,0,0.5),
            rgb(0,0,0,0.5)
    );
}
.carta:nth-child(3){
    background-image: linear-gradient(
            0deg,
            rgb(0,0,0,0.5),
            rgb(0,0,0,0.5)
    );
}
/*section PostulaYa!*/
#postulaYa .texto{
    font-family: Lato;
    font-color: black;
}
#postulaYa .formulario{
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top:30px;
    padding:20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
    font-family: Lato;
    font-color: black;
}

#postulaYa .formulario__input, .formulario__label,
.formulario_submit{
    display: block;
    width: 100%;
    font-size:1.3em;
    font-family: Lato;
    font-color: black;
}
#postulaYa .formulario__input{
    padding: 20px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 40px;
}
#postulaYa .formulario__input:focus{
    outline: 1px solid rgba(0,0,0,0.3);
}
#postulaYa .formulario__input:focus +
.formulario__label{
    margin-top: -135px;
}
#postulaYa .formulario__label{
    padding-left: 15px;
    position:absolute;
    margin-top:-85px;
    z-index:-20;
    color: rgba(0,0,0,0.5);
    transition: all 0.2s;
}
.fijar{
    margin-top: -135px;
}
#postulaYa .formulario_submit{
    background: rgba(0,0,0,0.7);
    color:white;
    padding: 10px 20px;
    cursor: pointer;
    border:none;
}

#quienes-somos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color:white;
    height: 80vh;
}
#quienes-somos h2{
    font-size:9vw;
}
#quienes-somos button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}
footer p{
    margin:0;
    padding:12px;
    color: rgb(100,100,100);
}
footer .container{
    height: 150px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

@media(min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container {
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }
    #somos-proya .container{
        display: flex;
        justify-content: space-evenly;
    }
    #somos-proya .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    #somos-proya h2{
        margin-top: 0px;
    }
    #somos-proya .img-container{
        background-image: url("https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZGVzYXJyb2xsYWRvciUyMGZyb250ZW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }
    #nuestros-programas .programas{
        display: flex;
        justify-content: center;
    }
    #nuestros-programas p{
        display:block;
        margin-bottom: 30px;
    }
    #nuestros-programas h3{
        margin-top: 0;
    }
    #nuestros-programas .carta{
        padding: 50px;
        background-size: 100% 150%;
        background-repeat: no-repeat;
        background-position-y:0;
        background-color: rgba(50,50,50,1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }
    .carta:first-child{
        background-image: linear-gradient(
                0deg,
                rgb(0,0,0,0.5),
                rgb(0,0,0,0.5)
        )
        ,url("https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZGVzYXJyb2xsYWRvciUyMGZyb250ZW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    }
    .carta:nth-child(2){
        background-image: linear-gradient(
                0deg,
                rgb(0,0,0,0.5),
                rgb(0,0,0,0.5)
        )
        ,url("https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZGVzYXJyb2xsYWRvciUyMGZyb250ZW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    }
    .carta:nth-child(3){
        background-image: linear-gradient(
                0deg,
                rgb(0,0,0,0.5),
                rgb(0,0,0,0.5)
        )
        ,url("https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZGVzYXJyb2xsYWRvciUyMGZyb250ZW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    }
    #final h2{
        font-size:5em;
    }
    #final buttom{
        font-size: 2em;
    }
    footer .container{
        justify-content: flex-end;
    }
}
